header {
  position: relative;
}
header .swiper {
  width: 100%;
  height: 100vh;
}
@media (max-width: 767px) {
  header .swiper {
    height: 159.7333333333vw;
  }
}
header .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .swiper .swiper-wrapper .slide1 {
  background-image: url("../img/fv-bgi_01@2x.jpg");
}
header .swiper .swiper-wrapper .slide2 {
  background-image: url("../img/fv-bgi_02@2x.jpg");
}
header .swiper .swiper-wrapper .slide3 {
  background-image: url("../img/fv-bgi_03@2x.jpg");
}
header .swiper-text .header-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3194444444vw 8.3333333333vw;
  background-color: transparent;
}
@media (max-width: 767px) {
  header .swiper-text .header-navi {
    top: 0; /* 100:x=375:30 */
    padding: 8vw 4vw;
  }
}
header .swiper-text .header-navi.is-active {
  background-color: #282F35;
}
header .swiper-text .header-navi.fix-active {
  position: fixed;
}
header .swiper-text .header-navi .header-navi-left {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.8055555556vw;
  letter-spacing: 0.05em;
  color: #fff;
}
@media (max-width: 767px) {
  header .swiper-text .header-navi .header-navi-left {
    font-size: 6.9333333333vw;
  }
}
header .swiper-text .header-navi .header-navi-right {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  color: #fff;
}
header .swiper-text .header-navi .header-navi-right ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header .swiper-text .header-navi .header-navi-right ul {
    display: none;
  }
}
header .swiper-text .header-navi .header-navi-right ul li {
  padding-left: 2.0833333333vw;
}
header .swiper-text h1 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 4.8611111111vw;
  letter-spacing: 0.05em;
  color: #fff;
  position: absolute;
  top: 28.4027777778vw;
  left: 8.3333333333vw;
  z-index: 90;
}
@media (max-width: 767px) {
  header .swiper-text h1 {
    font-size: 9.8666666667vw;
    top: 53.8666666667vw;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 0 3.7333333333vw 0 3.4666666667vw;
    white-space: nowrap;
  }
}
header .swiper-text h2 {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 2.7777777778vw;
  letter-spacing: 0.05em;
  color: #fff;
  position: absolute;
  top: 37.1527777778vw;
  left: 11.1111111111vw;
  z-index: 90;
}
@media (max-width: 767px) {
  header .swiper-text h2 {
    font-size: 8vw;
    line-height: 13.3333333333vw;
    text-align: center;
    top: 83.2vw;
    left: 0;
    padding: 0 16.5333333333vw 0 16.2666666667vw;
  }
}
header .hamburger-menu {
  display: none;
}
@media (max-width: 767px) {
  header .hamburger-menu {
    display: block;
    width: 8vw;
    height: 5.3333333333vw;
    position: absolute;
    z-index: 250;
    top: 9.8666666667vw;
    right: 4vw;
    cursor: pointer;
  }
  header .hamburger-menu.fix-active {
    position: fixed;
  }
  header .hamburger-menu:hover {
    opacity: 0.5;
  }
  header .hamburger-menu span {
    width: 8vw;
    height: 2px;
    background: #fffdfd;
    position: absolute;
    transition: 0.4s ease-in-out;
  }
  header .hamburger-menu span:nth-child(1) {
    top: 0;
  }
  header .hamburger-menu span:nth-child(2) {
    top: 2.6666666667vw;
  }
  header .hamburger-menu span:nth-child(3) {
    top: 5.3333333333vw;
  }
  header .hamburger-menu.active span:nth-child(1) {
    top: 2.6666666667vw;
    transform: rotate(-45deg);
  }
  header .hamburger-menu.active span:nth-child(2), header .hamburger-menu.active span:nth-child(3) {
    top: 2.6666666667vw;
    transform: rotate(45deg);
  }
}
@media (max-width: 767px) {
  header #hamburger-navigation {
    width: 100%;
    height: 100vh;
    background-color: #282F35;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0s ease;
  }
  header #hamburger-navigation.active {
    opacity: 1;
    visibility: visible;
  }
  header #hamburger-navigation .hamburger-navigation-sections {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header #hamburger-navigation .hamburger-navigation-sections li {
    margin-bottom: 8vw;
  }
  header #hamburger-navigation .hamburger-navigation-sections a {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4.2666666667vw;
    letter-spacing: 0.05em;
    color: #fff;
  }
}

.concept-area {
  padding-top: 6.9444444444vw;
  padding-right: 8.3333333333vw;
  padding-bottom: 4.8611111111vw;
  padding-left: 15.2777777778vw;
  background-color: burlywood;
}
@media (max-width: 767px) {
  .concept-area {
    padding: 26.6666666667vw 4vw 10.6666666667vw;
  }
}
.concept-area .concept-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 38vw;
}
@media (max-width: 767px) {
  .concept-area .concept-title {
    margin-right: 18.1333333333vw;
  }
}
.concept-area h2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4.1666666667vw;
  letter-spacing: 0.05em;
  color: #282f35;
}
@media (max-width: 767px) {
  .concept-area h2 {
    font-size: 8vw;
  }
}
.concept-area .concept-title-line {
  width: 13.8888888889vw;
  background: transparent;
  border: 0.3472222222vw solid #282f35;
}
@media (max-width: 767px) {
  .concept-area .concept-title-line {
    width: 24vw;
    border: 0.7vw solid #282f35;
  }
}
.concept-area h3 {
  width: 41.6666666667vw;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 2.0833333333vw;
  letter-spacing: 0.05em;
  line-height: 3.4722222222vw;
  text-align: center;
  color: #171717;
  margin-top: 4.8611111111vw;
  margin-left: 13.8888888889vw;
}
@media (max-width: 767px) {
  .concept-area h3 {
    width: 90vw;
    font-size: 5.3333333333vw;
    margin-top: 14.6666666667vw;
    margin-left: 1.0666666667vw;
    line-height: 8vw;
  }
}
.concept-area .concept-explain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.1666666667vw;
  margin-right: 6.9444444444vw;
}
@media (max-width: 767px) {
  .concept-area .concept-explain {
    display: block;
    margin-top: 9.0666666667vw;
    margin-right: auto;
  }
}
.concept-area .concept-explain p {
  width: 30.5555555556vw;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  line-height: 2.0833333333vw;
  color: #171717;
}
@media (max-width: 767px) {
  .concept-area .concept-explain p {
    width: 100%;
    font-size: 4.2666666667vw;
    line-height: 8vw;
  }
}
.concept-area .concept-explain img {
  width: 30.5555555556vw;
  height: 16.6666666667vw;
}
@media (max-width: 767px) {
  .concept-area .concept-explain img {
    width: 100%;
    height: 40vw;
  }
}
.concept-area h1 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 6.25vw;
  letter-spacing: 0.05em;
  color: rgba(23, 23, 23, 0.05);
  text-align: right;
  margin-top: 4.8611111111vw;
}
@media (max-width: 767px) {
  .concept-area h1 {
    font-size: 10.6666666667vw;
    margin-top: 10.6666666667vw;
  }
}

.works-area {
  width: 100%;
  height: 68.4247050659vw;
  background: transparent no-repeat url("../img/works-bgi@2x.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .works-area {
    height: auto;
  }
}
.works-area .works-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 7.2222222222vw;
  padding-right: 8.3333333333vw;
}
@media (max-width: 767px) {
  .works-area .works-title {
    padding-top: 26.6666666667vw;
    padding-right: 4vw;
  }
}
.works-area .works-title h2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4.1666666667vw;
  letter-spacing: 0.1em;
  color: #fff;
  padding-right: 3.3333333333vw;
}
@media (max-width: 767px) {
  .works-area .works-title h2 {
    font-size: 8vw;
    padding-right: 8vw;
  }
}
.works-area .works-title .works-title-line {
  width: 13.8888888889vw;
  background: transparent;
  border: 0.3472222222vw solid #fff;
}
@media (max-width: 767px) {
  .works-area .works-title .works-title-line {
    width: 26.6666666667vw;
    border: 0.7vw solid #fff;
  }
}
.works-area .works-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 69.4444444444vw;
  margin: 5.5555555556vw auto;
}
@media (max-width: 767px) {
  .works-area .works-contents {
    display: block;
    width: 100%;
    padding: 13.3333333333vw 7.2vw 8vw 7.4666666667vw;
  }
}
.works-area .works-contents .works-picture {
  width: 22.2222222222vw;
  background: #fff;
  filter: drop-shadow(0px 0px 6px #000);
  border: 1px solid #141414;
}
@media (max-width: 767px) {
  .works-area .works-contents .works-picture {
    width: 100%;
    height: auto;
    margin-bottom: 8vw;
  }
}
.works-area .works-contents .works-picture img {
  width: 100%;
}
.works-area .works-contents .works-picture p {
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  line-height: 2.0833333333vw;
  color: #141414;
  padding: 1.7361111111vw 1.3888888889vw;
}
@media (max-width: 767px) {
  .works-area .works-contents .works-picture p {
    font-size: 4.2666666667vw;
    line-height: 8vw;
    padding: 6.6666666667vw 5.3333333333vw;
  }
}
.works-area .works-button {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171717;
  width: 16.3194444444vw;
  height: 4.0972222222vw;
  background: #f7d43f;
  filter: drop-shadow(0px 0px 6px #1b1310);
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .works-area .works-button {
    width: 62.6666666667vw;
    height: 15.7333333333vw;
    font-size: 4.2666666667vw;
    margin-top: 13.3333333333vw;
  }
}
.works-area .works-button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-area h1 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 6.25vw;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.1;
  margin-top: 4.8611111111vw;
  margin-left: 8.3333333333vw;
}
@media (max-width: 767px) {
  .works-area h1 {
    font-size: 10.6666666667vw;
    margin-top: 10.6666666667vw;
    margin-left: 4vw;
    padding-bottom: 10.6666666667vw;
  }
}

.service-area {
  padding-top: 6.9444444444vw;
  padding-bottom: 4.8611111111vw;
  background-color: khaki;
}
@media (max-width: 767px) {
  .service-area {
    padding-top: 26.6666666667vw;
    padding-bottom: 17.0666666667vw;
  }
}
.service-area .service-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15.2777777778vw;
}
@media (max-width: 767px) {
  .service-area .service-title {
    padding-left: 4vw;
  }
}
.service-area .service-title h2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4.1666666667vw;
  letter-spacing: 0.1em;
  color: #282f35;
  padding-right: 2.0138888889vw;
}
@media (max-width: 767px) {
  .service-area .service-title h2 {
    font-size: 8vw;
    padding-right: 8vw;
  }
}
.service-area .service-title .service-title-line {
  width: 13.8888888889vw;
  background: transparent;
  border: 0.3472222222vw solid #282f35;
}
@media (max-width: 767px) {
  .service-area .service-title .service-title-line {
    width: 26.6666666667vw;
    border: 0.7vw solid #282f35;
  }
}
.service-area .service-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5555555556vw;
}
@media (max-width: 767px) {
  .service-area .service-contents {
    display: block;
    margin-top: 21.3333333333vw;
  }
}
.service-area .service-contents .service-picture1 {
  background-image: url("../img/service-img01@2x.jpg");
}
.service-area .service-contents .service-picture2 {
  background-image: url("../img/service-img02@2x.jpg");
}
.service-area .service-contents .service-picture3 {
  background-image: url("../img/sevice-img03@2x.jpg");
}
.service-area .service-contents .picture-size {
  width: 100%;
  height: 22.2222222222vw;
  background-size: cover;
}
@media (max-width: 767px) {
  .service-area .service-contents .picture-size {
    height: 66.6666666667vw;
    margin-bottom: 8vw;
  }
}
.service-area .service-contents .picture-size:hover {
  border: 1px solid #707070;
  opacity: 0.7;
}
.service-area .service-contents .picture-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.7777777778vw;
  letter-spacing: 0.05em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .service-area .service-contents .picture-title {
    font-size: 5.3333333333vw;
  }
}
.service-area h1 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 6.25vw;
  letter-spacing: 0.05em;
  text-align: right;
  color: rgba(23, 23, 23, 0.05);
  padding-top: 4.8611111111vw;
  padding-right: 8.3333333333vw;
}
@media (max-width: 767px) {
  .service-area h1 {
    font-size: 10.6666666667vw;
    padding-top: 10.6666666667vw;
    padding-right: 4vw;
  }
}

.contact-area {
  width: 100%;
  height: 46.25vw;
  background: transparent url("../img/contact-bgi@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .contact-area {
    height: 129.3333333333vw;
    background-position: center;
  }
}
.contact-area .contact-title {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 7.5694444444vw;
  padding-right: 8.3333333333vw;
}
@media (max-width: 767px) {
  .contact-area .contact-title {
    padding-top: 26.6666666667vw;
    padding-right: 4vw;
  }
}
.contact-area .contact-title h2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4.1666666667vw;
  letter-spacing: 0.1em;
  color: #fff;
  padding-right: 2.0833333333vw;
}
@media (max-width: 767px) {
  .contact-area .contact-title h2 {
    font-size: 8vw;
    padding-right: 8vw;
  }
}
.contact-area .contact-title .contact-title-line {
  width: 13.8888888889vw;
  background: transparent;
  border: 0.3472222222vw solid #fff;
}
@media (max-width: 767px) {
  .contact-area .contact-title .contact-title-line {
    width: 26.6666666667vw;
    border: 0.7vw solid #fff;
  }
}
.contact-area p {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 1.3888888889vw;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  padding-top: 5.5555555556vw;
  padding-bottom: 2.7777777778vw;
}
@media (max-width: 767px) {
  .contact-area p {
    font-size: 5.3333333333vw;
    padding-top: 21.3333333333vw;
    padding-bottom: 8vw;
  }
}
.contact-area .contact-button {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171717;
  width: 16.3194444444vw;
  height: 4.0972222222vw;
  background: #f7d43f;
  filter: drop-shadow(0px 0px 6px #1b1310);
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .contact-area .contact-button {
    width: 62.6666666667vw;
    height: 15.7333333333vw;
    font-size: 4.2666666667vw;
    margin-top: 13.3333333333vw;
  }
}
.contact-area .contact-button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-area h1 {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 6.25vw;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.05;
  padding-top: 4.8611111111vw;
  padding-left: 8.3333333333vw;
}
@media (max-width: 767px) {
  .contact-area h1 {
    font-size: 10.6666666667vw;
    padding-top: 10.6666666667vw;
    padding-left: 4vw;
  }
}

.contact-bg {
  background-image: url("../img/contact-page-bgi@2x.jpg");
  background-size: cover;
  height: 31.4583333333vw;
  position: relative;
}
@media (max-width: 767px) {
  .contact-bg {
    height: 96vw;
    background-position: center;
  }
}
.contact-bg .contact-header-navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3194444444vw 8.3333333333vw;
  background-color: transparent;
}
@media (max-width: 767px) {
  .contact-bg .contact-header-navi {
    top: 0; /* 100:x=375:30 */
    padding: 8vw 4vw;
  }
}
.contact-bg .contact-header-navi.is-active {
  background-color: #282F35;
}
.contact-bg .contact-header-navi.fix-active {
  position: fixed;
}
.contact-bg .contact-header-navi .contact-header-navi-left {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.8055555556vw;
  letter-spacing: 0.05em;
  color: #fff;
}
@media (max-width: 767px) {
  .contact-bg .contact-header-navi .contact-header-navi-left {
    font-size: 6.9333333333vw;
  }
}
.contact-bg .contact-header-navi .contact-header-navi-right {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  color: #fff;
}
.contact-bg .contact-header-navi .contact-header-navi-right ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-bg .contact-header-navi .contact-header-navi-right ul {
    display: none;
  }
}
.contact-bg .contact-header-navi .contact-header-navi-right ul li {
  padding-left: 2.0833333333vw;
}
.contact-bg h2 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 4.1666666667vw;
  letter-spacing: 0.1em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .contact-bg h2 {
    font-size: 8vw;
  }
}
.contact-bg h1 {
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  font-size: 6.25vw;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.05;
  position: absolute;
  top: 19.6527777778vw;
  left: 3.3333333333vw;
}
@media (max-width: 767px) {
  .contact-bg h1 {
    font-size: 10.6666666667vw;
    top: 68.2666666667vw;
    left: 4vw;
  }
}
.contact-bg #hamburger-navigation {
  opacity: 0;
}

form {
  padding: 6.9444444444vw 25.6944444444vw 5.5555555556vw;
}
@media (max-width: 767px) {
  form {
    padding: 26.6666666667vw 4vw 21.3333333333vw;
  }
}
form .form-title {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  text-align: left;
  color: #171717;
  padding-bottom: 0.4861111111vw;
}
@media (max-width: 767px) {
  form .form-title {
    font-size: 4.2666666667vw;
  }
}
form .form-checkbox .checkbox-item {
  display: inline;
}
@media (max-width: 767px) {
  form .form-checkbox .checkbox-item {
    display: block;
  }
}
form .form-checkbox input {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
form .form-checkbox label {
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  color: #000;
  padding-left: 0.6944444444vw;
  padding-right: 1.3888888889vw;
}
@media (max-width: 767px) {
  form .form-checkbox label {
    font-size: 4.2666666667vw;
    padding-left: 1.8666666667vw;
    padding-right: 0;
  }
}
form .person-name {
  padding-top: 1.7361111111vw;
}
@media (max-width: 767px) {
  form .person-name {
    padding-top: 6.6666666667vw;
  }
}
form .person-name label {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  text-align: left;
  color: #171717;
  padding-bottom: 0.3472222222vw;
}
@media (max-width: 767px) {
  form .person-name label {
    font-size: 4.2666666667vw;
    padding-bottom: 1.3333333333vw;
  }
}
form .person-name input {
  display: block;
  width: 100%;
  height: 2.0833333333vw;
  background: #fff;
  border: 1px solid #141414;
  font-size: 1.1111111111vw;
  position: relative;
}
form .person-name input::-moz-placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
form .person-name input::placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
@media (max-width: 767px) {
  form .person-name input::-moz-placeholder {
    font-size: 4.2666666667vw;
  }
  form .person-name input::placeholder {
    font-size: 4.2666666667vw;
  }
}
@media (max-width: 767px) {
  form .person-name input {
    height: 8vw;
    font-size: 4.2666666667vw;
  }
}
form .telnumber {
  padding-top: 1.7361111111vw;
}
@media (max-width: 767px) {
  form .telnumber {
    padding-top: 6.6666666667vw;
  }
}
form .telnumber label {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  text-align: left;
  color: #171717;
  padding-bottom: 0.3472222222vw;
}
@media (max-width: 767px) {
  form .telnumber label {
    font-size: 4.2666666667vw;
    padding-bottom: 1.3333333333vw;
  }
}
form .telnumber input {
  display: block;
  width: 100%;
  height: 2.0833333333vw;
  background: #fff;
  border: 1px solid #141414;
  font-size: 1.1111111111vw;
  position: relative;
}
form .telnumber input::-moz-placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
form .telnumber input::placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
@media (max-width: 767px) {
  form .telnumber input::-moz-placeholder {
    font-size: 4.2666666667vw;
  }
  form .telnumber input::placeholder {
    font-size: 4.2666666667vw;
  }
}
@media (max-width: 767px) {
  form .telnumber input {
    height: 8vw;
    font-size: 4.2666666667vw;
  }
}
form .mailadress {
  padding-top: 1.7361111111vw;
}
@media (max-width: 767px) {
  form .mailadress {
    padding-top: 6.6666666667vw;
  }
}
form .mailadress label {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  text-align: left;
  color: #171717;
  padding-bottom: 0.3472222222vw;
}
@media (max-width: 767px) {
  form .mailadress label {
    font-size: 4.2666666667vw;
    padding-bottom: 1.3333333333vw;
  }
}
form .mailadress input {
  display: block;
  width: 100%;
  height: 2.0833333333vw;
  background: #fff;
  border: 1px solid #141414;
  font-size: 1.1111111111vw;
  position: relative;
}
form .mailadress input::-moz-placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
form .mailadress input::placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
@media (max-width: 767px) {
  form .mailadress input::-moz-placeholder {
    font-size: 4.2666666667vw;
  }
  form .mailadress input::placeholder {
    font-size: 4.2666666667vw;
  }
}
@media (max-width: 767px) {
  form .mailadress input {
    height: 8vw;
    font-size: 4.2666666667vw;
  }
}
form .others {
  padding-top: 1.7361111111vw;
}
@media (max-width: 767px) {
  form .others {
    padding-top: 6.6666666667vw;
  }
}
form .others label {
  font-family: "Noto Serif", serif;
  font-weight: normal;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  text-align: left;
  color: #171717;
  padding-bottom: 0.3472222222vw;
}
@media (max-width: 767px) {
  form .others label {
    font-size: 4.2666666667vw;
    padding-bottom: 1.3333333333vw;
    display: block;
  }
}
form .others textarea {
  width: 100%;
  height: 11.875vw;
  background: #fff;
  border: 1px solid #141414;
  font-size: 1.1111111111vw;
  position: relative;
}
form .others textarea::-moz-placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
form .others textarea::placeholder {
  font-size: 1.1111111111vw;
  position: absolute;
  top: 2px;
  left: 2px;
}
@media (max-width: 767px) {
  form .others textarea::-moz-placeholder {
    font-size: 4.2666666667vw;
  }
  form .others textarea::placeholder {
    font-size: 4.2666666667vw;
  }
}
@media (max-width: 767px) {
  form .others textarea {
    height: 45.6vw;
    font-size: 4.2666666667vw;
  }
}
form .submit-button {
  width: 16.3194444444vw;
  height: 4.0972222222vw;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 1.1111111111vw;
  letter-spacing: 0.05em;
  text-align: center;
  color: #171717;
  background: #f7d43f;
  filter: drop-shadow(0px 0px 6px #1b1310);
  border-radius: 50px;
  margin-top: 5.5555555556vw;
  margin-left: 16.1805555556vw;
}
@media (max-width: 767px) {
  form .submit-button {
    font-size: 4.2666666667vw;
    width: 65.3333333333vw;
    height: 15.7333333333vw;
    margin-top: 21.3333333333vw;
    margin-left: 13.36vw;
  }
}

.contact-footer {
  font-family: Roboto;
  font-weight: normal;
  font-size: 0.9722222222vw;
  letter-spacing: 0.05em;
  text-align: center;
  color: #282f35;
  background: #fff;
  padding-top: 2.0833333333vw;
  padding-bottom: 2.0833333333vw;
}
@media (max-width: 767px) {
  .contact-footer {
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 3.7333333333vw;
    padding-top: 8vw;
    padding-bottom: 8vw;
  }
}

.index-footer {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 0.9722222222vw;
  letter-spacing: 0.05em;
  text-align: center;
  color: #282f35;
  background: #fff;
  padding-top: 2.0833333333vw;
  padding-bottom: 2.0833333333vw;
}
@media (max-width: 767px) {
  .index-footer {
    font-size: 3.7333333333vw;
    padding-top: 8vw;
    padding-bottom: 8vw;
  }
}

html {
  font-size: 62.5%; /* 10px */
}/*# sourceMappingURL=style.css.map */